.list {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.list__container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 270px);
  justify-content: center;
  gap: 38px 20px;
}

.list__button {
  width: 320px;
  height: 36px;
  margin: 0;
  padding: 0;
  background: #F9F9F9;
  border-radius: 6px;
  border: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 900px) {
  .list{
    gap: 57px;
  }
  .list__container {
    grid-template-columns: repeat(auto-fit, 339px);
    gap: 30px;
  }
}

@media screen and (max-width: 500px) {
  .list__container {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 32px;
  }
  .list{
    margin-bottom: 17px;
  }
}