.userForm{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.userForm__inputsContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 39px 0 0;
}

@media screen and (max-width: 500px) {
  .userForm{
    align-items: center;
    align-content: space-between;
  }
  .userForm__inputsContainer{
    margin: 81px 0 0;
  }
}