.promo{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #073042;
  box-sizing: border-box;
}

.promo__container {
  max-width: 1140px;
  padding: 93px 0 75px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 190px;
}

.promo__textContainer{
  display: flex;
  flex-direction: column;
}

.promo__heading {
  max-width: 640px;
  font-weight: 400;
  margin: 0 0 36px;
  padding: 0;
  font-size: 50px;
  line-height: 58px;
  color: #FFF;
}
.promo__subtitle{
  max-width: 310px;
  margin: 0 0 146px;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  color: #FFFFFF;
}
.promo__infoBtn{
  appearance: none;
  border: #FFF solid 1px;
  border-radius: 3px;
  width: 129px;
  height: 36px;
  background-color: #073042;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}