.submitButton {
  max-width: 410px;
  margin: 126px 0 0;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 3px;
  background: #3456F3;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.submitButton_inActive {
  background: #F8F8F8;
  color: #C2C2C2;
}


@media screen and (max-width: 500px) {
  .submitButton {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 213px 0 13px;
  }
}