.header{
  margin: 0;
  width: 100%;
  background-color: #073042;
  display: flex;
  justify-content: center;
}

.header_light{
  background-color: #F9F9F9;
}

.header__container{
  margin: 0 30px;
  padding: 18px 0;
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
 }

.header__user{
  display: flex;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  color: #FFF;
  text-decoration: none;
  justify-content: space-evenly;
  font-weight: 500;
  align-items: center;
  width: 109px;
  height: 32px;
  border-radius: 20px;
  border: 2px solid #F5F5F5;
}

.header__user_dark{
  color: #000;
}

.header__burger{
  display: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1140px){
  .header__container{
    margin: 0 50px;
  }
}

@media screen and (max-width: 768px){
  .header__container{
    margin: 0 30px;
  }

  .header__burger{
    display: block;
  }

  .header__user{
    display: none;
  }
}

@media screen and (max-width: 500px){
  .header__container{
    margin: 0 14px;
  }
}