.FilterCheckbox__toggleButton {
  opacity: 0;
  position: absolute;
  top: -9000px;
  left: -9000px;
}

/*.FilterCheckbox__toggleButton:focus + .FilterCheckbox__toggleLabel::before {*/
/*outline: 1px solid #073042;*/
/*}*/

.FilterCheckbox__toggleLabel {
  margin: 32px 0 117px;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  align-self: flex-start;
}

.FilterCheckbox__toggleLabel::before {
  margin-right: 14px;
  content: '';
  width: 2rem;
  height: 1rem;
  border-radius: 1rem;
  background: #EBEBEB;

}

.FilterCheckbox__toggleLabel::after {
  position: absolute;
  content: '';
  width: .7rem;
  height: .7rem;
  left: .1rem;
  border-radius: 1rem;
  background: #F5F5F5;
  transition: 200ms ease-in-out;
}

.FilterCheckbox__toggleButton:checked + .FilterCheckbox__toggleLabel::after {
  transform: translateX(1.1rem);
}

.FilterCheckbox__toggleButton:checked + .FilterCheckbox__toggleLabel::before {
  background: #2BE080;
}