.about {
  box-sizing: border-box;
  margin: 0 70px;
  padding: 0;
  max-width: 1140px;
  width: 100%;
}

.about__container {
  margin-top: 94px;
  display: flex;
}

.about__textContainer {

}

.about__heading {
  margin: 0 0 26px;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: .05em;
}

.about__text {
  margin: 0 0 110px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.about__chart {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 20% 80%;
  background-color: #F2F2F2;
}

.about__chartText {
  padding: 9px 14px;
  margin: 0;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
}

.about__chartText_left {
  background-color: #2BE080;
}

.about__chartText_right {
  grid-column: 2;
  grid-row: 1;
}

.about__chartSubtext {
  padding: 9px 14px;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: #A0A0A0;
  text-align: center;
  background-color: #FFFFFF;
}